@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  scroll-behavior: smooth;
  background-image: url(image/carpinchoagua.png);
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 95px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7347ed;
  padding: 10px;
}

.navbar-logo {
  padding-left: 30px;
}
.navbar-logo img {
  width: 70px;
  height: 70px;
}

.navbar-center {
  flex-grow: 0.5;
  text-align: center;
  font-weight: bold;
}

ul li a:hover {
  border-bottom: 3px solid black;
}

.navbar-center a {
  color: aliceblue;
}

.navbar-center ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-right a {
  margin-left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}

.carritoCompras {
  font-size: 35px;
  padding: 1rem;
  color: aliceblue;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.carritoCompras span {
  position: absolute;
  top: -1px;
  right: 22px;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
}

.sideBar {
  width: 500px;
  height: calc(100vh - 95px);
  background-color: #5e13f6;
  position: absolute;
  right: 0;
  overflow-y: scroll;
}

/* --------------------------------------------------------------------------------------------------- */

.section {
  text-align: center;
  padding: 20px;
  padding-top: 95px;
}

.firstsection-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.firstsection-image {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.firstsection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

.firstsection-text {
  width: 300px;
  padding-bottom: 50px;
}

.firstsection-text p {
  color: rgb(249, 250, 250);
  font-size: 18px;
  border-radius: 10px;
  background-color: rgba(
    129,
    32,
    249,
    0.789
  ); /* Color de fondo con transparencia */
  padding: 10px; /* Añade un poco de espacio alrededor del párrafo */
}

.img-firstsection {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------------------------------------- */

.titulo-cards-section {
  text-align: center;
  font-size: 35px;
  padding-bottom: 1rem;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.card {
  color: aliceblue;
  background-color: #5e13f6;
  border: 1px solid #303030;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.productoSeleccionadoAlCarrito {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}

.borrarCarrito {
  color: #ffff;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: red;
  font-size: 22px;
}

.pSideBar {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}

.section-cards {
}

.filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #303030;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.filtro ul {
  display: flex;
  gap: 1rem;
}

.filtroItem {
  cursor: pointer;
  background-color: #5e13f6;
  border-radius: 5px;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7347ed;
  color: white;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.texto-footer {
  display: flex;
  gap: 7px;
}

/* register */

.registerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.background {
  background-color: #7347ed;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #3030303d;
  padding: 1rem;
  border-radius: 10px;
}
.form-group label {
  font-size: 20px;
  border-radius: 1000px;
  width: 100%;
  text-align: left;
}
.form-group input {
  padding: 0.5rem;
}

.enlaces {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.enlaces a {
  color: #ffffff;
  cursor: pointer;
}

.titulo {
  text-align: center;
}

.icon-menu {
  font-size: 40px;
  display: none;
}

.menu-hamburguesa {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  color: black;
  position: absolute;
  top: 94px;
  right: 34%;
  width: 200px;
  display: none;
}
.menu-hamburguesa li a {
  color: black;
}

#listbox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
